<div class="container">
    <div class="row mt-5 mb-5">
        <div class="col animated fadeIn fast">
            <h1>Fire Chat</h1>
            <div class="text-right" *ngIf="chatService.usuario.uid">
                <button (click)="chatService.logout()" type="button" class="btn btn-outline-danger">Logout</button>
            </div>
            <hr>
            <app-login *ngIf="!chatService.usuario.uid"></app-login>
            <div *ngIf="chatService.usuario.uid" class="chat-window">
                <app-chat></app-chat>>
            </div>
        </div>
    </div>
</div>